<ul class="nav nav-sidebar">
    <li ng-init="isCollapse = false"><a href="#" ng-click="isCollapse = !isCollapse"><span class="fa fa-database"></span> Data</a>
        <ul ng-if="!isCollapse" class="nav-sub">
            <li ng-repeat="model in models"><a ui-sref="model({name:model})">{{model}}</a></li>
        </ul>
    </li>
</ul>

