<div>
    <h3>{{model}}</h3>
    <hr>
    <form name="rowForm" class="form-horizontal row" ng-submit="saveRow()">
        <div class="form-group row" ng-repeat="field in fields">
            <label class="control-label col-md-1">{{field.title}}</label>

            <div class="col-md-11">
                <row-element el-struct="field" el-type="field.type" el-name="field.title" el-model="newrow[field.title]">
                </row-element>
                <div class="error text-danger" ng-show="rowForm[field.title].$error.required && rowForm[field.title].$dirty">This field shouldn't be empty</div>
                <div class="error text-danger" ng-show="rowForm[field.title].$error.pattern && rowForm[field.title].$dirty">You should follow "{{field.title}}" pattern</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="btn-group-md pull-right">
                    <button type="submit" ng-disabled="rowForm.$invalid" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-info" ng-click="back()">Go back to model</button>
                </div>
            </div>
        </div>
    </form>
    <div class="well-sm text-success text-center bg-success" ng-show="isSuccess">Row successfully saved</div>
</div>