<div>
    <h3>{{model}}</h3>
    <hr>
    <form name="rowForm" class="form-horizontal row" ng-submit="updateRow()">
        <div ng-init="index=$index" class="form-group row" ng-repeat="(key,value) in row">
            <label class="control-label col-md-1">{{key}}</label>

            <div class="col-md-11">
                <row-element el-struct="fields[index]" el-name="fields[index].title" el-type="fields[index].type"
                             el-model="row[key]">
                </row-element>
                <div class="error text-danger"
                     ng-show="rowForm[fields[index].title].$error.required && rowForm[fields[index].title].$dirty">This
                    field shouldn't be empty
                </div>
                <div class="error text-danger"
                     ng-show="rowForm[fields[index].title].$error.pattern && rowForm[fields[index].title].$dirty">You
                    should follow "{{fields[index].title}}" pattern
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="btn-group-md pull-right">
                    <button ng-disabled="rowForm.$invalid" type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-info" ng-click="back()">Go back to model</button>
                </div>
            </div>
        </div>
    </form>

</div>
