<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Modal title</h4>
</div>
<div class="modal-body">
    Are you shure you want to delete this row?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="ok()">Yes</button>
    <button type="button" class="btn btn-danger" ng-click="cancel()">No</button>
</div>
