<div class="db-model" ng-class="{faded:env.isLoading}">
    <h3>{{env.tableName}}</h3>

    <div class="row edit-toolbar">
        <div class="btn-group btn-group-md db-edit-btns col-md-3 col-sm-4">
            <button class="btn btn-success" ui-sref="createRow({name:env.tableName})">Add
                {{env.tableName.toLowerCase()}}
            </button>
        </div>
        <div class="input-group col-md-3 pull-right">
            <input class="form-control form-group-sm" ng-model="search.$" placeholder="Search ...">
            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive col-md-12 col-sm-12">
            <table class="table table-responsive table-bordered table-striped text-center db-table no-padder">
                <thead>
                <tr>
                    <th ng-repeat="col in cols" class="text-center">{{col}}<i ng-click="sort(col)"
                                                                              ng-class="{'fa fa-caret-down':!reverse,'fa fa-caret-right':reverse}"></i>
                    </th>
                    <th>Actions</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-init="outerIndex=$index"
                    ng-repeat="row in rows | orderBy:predicate:reverse | filter:search:false">
                    <td ng-init="innerIndex=$index" ng-repeat="(key,value) in row">{{value}}</td>
                    <td class="actions">
                        <div>
                            <button class="btn btn-sm btn-success"
                                    ui-sref="rowView({name:env.tableName,rowId:ids[outerIndex]})">View
                            </button>
                            <button class="btn btn-sm btn-info"
                                    ui-sref="rowEdit({name:env.tableName,rowId:ids[outerIndex]})">Edit
                            </button>
                            <button ng-click="removeRow(rows,outerIndex,ids[outerIndex])" class="btn btn-sm btn-danger">
                                Del
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-3">
                <select ng-init="pagination.perPage = paginationOpts[0]"
                        ng-options="opt as opt for opt in paginationOpts" ng-model="pagination.perPage"
                        ng-change="getRows({fade:true})">
                </select>
                <span>Rows/Page</span>
            </div>
            <div class="col-md-3 pull-right">
                <pager class="pull-right" total-items="pagination.totalItems" ng-change="openNext()"
                       ng-model="pagination.currPage" items-per-page="pagination.perPage"></pager>
            </div>
        </div>
    </div>
    <i ng-if="env.isLoading" class="loading fa fa-clock-o fa-3x"></i>
</div>
