<div>
    <h3>{{model}}</h3>
    <table class="table table-hovered">
        <tr ng-repeat="(key,value) in row">
            <td>{{key}}:</td>
            <td>{{value}}</td>
        </tr>
    </table>
</div>
<div class="btn-group-md pull-right">
    <button type="button" class="btn btn-info" ng-click="back()">Go back to model</button>
</div>