.table-database > td {
  tab-index: 0;
}
.table-database > td:hover {
  border: 4px solid #82b446;
  border-radius: 3px;
}
.table-database > tr > td.focus {
  background-color: #5bc0de;
}
html,
body {
  font-family: 'Open Sans' !important;
}
ul {
  margin: 0;
  padding: 0;
}
a,
a:visited {
  text-decoration: none !important;
}
.container-fluid {
  padding: 0 !important;
}
.table > thead > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #eeeeee;
  padding: 7px;
}
.table > thead > tr > td {
  border-bottom: 1px solid #eeeeee;
}
.table-hover > tr:hover {
  background-color: #d9c9e3;
}
.table-bordered {
  border-color: #eeeeee;
}
.table-bordered > tbody > tr > td {
  border-color: #eeeeee;
}
.table-bordered > thead > tr > th {
  border-color: #eeeeee;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ffffff;
}
.table-striped > thead > th {
  background-color: #ffffff;
  border-right: 1px solid #d7e4ef;
}
.table-striped > thead > th:last-child {
  border-right: none;
}
.navi .navbar-aside {
  background-color: #0d1821;
  width: 200px;
  min-height: 600px;
  font-size: 120%;
  padding-top: 15px;
}
.navi .navbar-aside > * {
  color: whitesmoke;
}
.navi .navbar-aside .nav-menu {
  padding: 8px;
}
.navi .navbar-aside .nav-menu i {
  margin: 5px;
}
.navi .navbar-aside .nav-menu > li.menu-item.active {
  background-color: #000000;
}
.navi .navbar-aside .nav-menu > li.menu-item > .sub-menu {
  padding: 8px;
}
.navi .navbar-aside .nav-menu > li.menu-item > .sub-menu > li.sub-menu-item {
  width: 0;
  height: 0;
  margin-top: 8px;
  -webkit-transform: translate(-150px, 0);
  -ms-transform: translate(-150px, 0);
  transform: translate(-150px, 0);
  -webkit-transition: 500ms !important;
  transition: 500ms !important;
}
.navi .navbar-aside .nav-menu > li.menu-item > .sub-menu.collapsed {
  background-color: #000000;
}
.navi .navbar-aside .nav-menu > li.menu-item > .sub-menu.collapsed > li.sub-menu-item {
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  width: auto !important;
  height: auto !important;
}
.navi .navbar-aside.wrapped {
  width: 60px;
  position: relative;
}
.navi .navbar-aside.wrapped > .nav-menu > li {
  -webkit-transform: translate(60px, 0px);
  -ms-transform: translate(60px, 0px);
  transform: translate(60px, 0px);
  width: 0;
  height: 0;
  padding: 0;
}
.navi .navbar-aside.wrapped > .nav-menu > li * {
  display: none;
}
.navi .navbar-aside.wrapped > .nav-menu > li .sub-menu {
  width: 200px;
}
.navi .navbar-aside.wrapped > .nav-menu > li > .fixed {
  width: auto;
  height: auto;
  display: block;
  -webkit-transform: translate(-60px, 0);
  -ms-transform: translate(-60px, 0);
  transform: translate(-60px, 0);
}
.pos-rel {
  position: relative;
}
.pos-stc {
  position: static !important;
}
.pos-abs {
  position: absolute;
}
.pos-fix {
  position: fixed;
}
.show {
  visibility: visible;
}
.line {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
}
.line-xs {
  margin: 0;
}
.line-lg {
  margin-top: 15px;
  margin-bottom: 15px;
}
.line-dashed {
  border-style: dashed !important;
  background-color: transparent;
  border-width: 0;
}
.no-line {
  border-width: 0;
}
.no-border,
.no-borders {
  border-color: transparent;
  border-width: 0;
}
.no-radius {
  border-radius: 0;
}
.block {
  display: block;
}
.block.hide {
  display: none;
}
.inline {
  display: inline-block !important;
}
.none {
  display: none;
}
.pull-none {
  float: none;
}
.rounded {
  border-radius: 500px;
}
.clear {
  display: block;
  overflow: hidden;
}
.no-bg {
  background-color: transparent;
  color: inherit;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.l-h {
  line-height: 1.4;
}
.l-h-0x {
  line-height: 0;
}
.l-h-1x {
  line-height: 1.2;
}
.l-h-2x {
  line-height: 2em;
}
.l-s-1x {
  letter-spacing: 1;
}
.l-s-2x {
  letter-spacing: 2;
}
.l-s-3x {
  letter-spacing: 3;
}
.font-normal {
  font-weight: normal;
}
.font-thin {
  font-weight: 300;
}
.font-bold {
  font-weight: 700;
}
.text-3x {
  font-size: 3em;
}
.text-2x {
  font-size: 2em;
}
.text-lg {
  font-size: 150%;
}
.text-md {
  font-size: 120%;
}
.text-base {
  font-size: 100%;
}
.text-sm {
  font-size: 85%;
}
.text-xs {
  font-size: 65%;
}
.text-xxs {
  text-indent: -9999px;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-u-c {
  text-transform: uppercase;
}
.text-l-t {
  text-decoration: line-through;
}
.text-u-l {
  text-decoration: underline;
}
.text-active,
.active > .text,
.active > .auto .text {
  display: none !important;
}
.active > .text-active,
.active > .auto .text-active {
  display: inline-block !important;
}
.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.box-shadow-lg {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
.text-shadow {
  font-size: 170px;
  text-shadow: 0 1px 0 #c1a7d2, 0 2px 0 #d9c9e3, 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2);
}
.no-shadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.wrapper-xs {
  padding: 5px;
}
.wrapper-sm {
  padding: 10px;
}
.wrapper {
  padding: 15px;
}
.wrapper-md {
  padding: 20px;
}
.wrapper-lg {
  padding: 30px;
}
.wrapper-xl {
  padding: 50px;
}
.padd-lg {
  padding-left: 30px;
  padding-right: 30px;
}
.padd-md {
  padding-left: 20px;
  padding-right: 20px;
}
.padd {
  padding-left: 15px;
  padding-right: 15px;
}
.padd-v {
  padding-top: 15px;
  padding-bottom: 15px;
}
.no-padder {
  padding: 0 !important;
}
.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}
.pull-out {
  margin: -10px -15px;
}
.b {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.b-a {
  border: 1px solid #c1a7d2;
}
.b-t {
  border-top: 1px solid #c1a7d2;
}
.b-r {
  border-right: 1px solid #c1a7d2;
}
.b-b {
  border-bottom: 1px solid #c1a7d2;
}
.b-l {
  border-left: 1px solid #c1a7d2;
}
.b-light {
  border-color: #d9c9e3;
}
.b-dark {
  border-color: #eeeeee;
}
.b-black {
  border-color: #eeeeee;
}
.b-primary {
  border-color: #4682b4;
}
.b-success {
  border-color: #82b446;
}
.b-info {
  border-color: #5bc0de;
}
.b-warning {
  border-color: #f0ad4e;
}
.b-danger {
  border-color: #b44682;
}
.b-white {
  border-color: #ffffff;
}
.b-dashed {
  border-style: dashed !important;
}
.b-l-light {
  border-left-color: #d9c9e3;
}
.b-l-dark {
  border-left-color: #eeeeee;
}
.b-l-black {
  border-left-color: #eeeeee;
}
.b-l-primary {
  border-left-color: #4682b4;
}
.b-l-success {
  border-left-color: #82b446;
}
.b-l-info {
  border-left-color: #5bc0de;
}
.b-l-warning {
  border-left-color: #f0ad4e;
}
.b-l-danger {
  border-left-color: #b44682;
}
.b-l-white {
  border-left-color: #ffffff;
}
.b-l-2x {
  border-left-width: 2px;
}
.b-l-3x {
  border-left-width: 3px;
}
.b-l-4x {
  border-left-width: 4px;
}
.b-l-5x {
  border-left-width: 5px;
}
.b-2x {
  border-width: 2px;
}
.b-3x {
  border-width: 3px;
}
.b-4x {
  border-width: 4px;
}
.b-5x {
  border-width: 5px;
}
.r {
  border-radius: 3px 3px 3px 3px;
}
.r-2x {
  border-radius: 6px;
}
.r-3x {
  border-radius: 9px;
}
.r-l {
  border-radius: 3px 0 0 3px;
}
.r-r {
  border-radius: 0 3px 3px 0;
}
.r-t {
  border-radius: 3px 3px 0 0;
}
.r-b {
  border-radius: 0 0 3px 3px;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0 !important;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-xxl {
  margin-left: 50px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-l-n-xxl {
  margin-left: -50px;
}
.m-t-none {
  margin-top: 0 !important;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-xxl {
  margin-top: 50px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-t-n-xxl {
  margin-top: -50px;
}
.m-r-none {
  margin-right: 0 !important;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-xxl {
  margin-right: 50px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-r-n-xxl {
  margin-right: -50px;
}
.m-b-none {
  margin-bottom: 0 !important;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-xxl {
  margin-bottom: 50px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.m-b-n-xxl {
  margin-bottom: -50px;
}
.avatar {
  position: relative;
  display: block;
  border-radius: 500px;
  white-space: nowrap;
}
.avatar img {
  border-radius: 500px;
  width: 100%;
}
.avatar i {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  margin: 2px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
}
.avatar i.right {
  left: auto;
  right: 0;
}
.avatar i.bottom {
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
}
.avatar i.left {
  top: auto;
  bottom: 0;
}
.avatar i.on {
  background-color: #82b446;
}
.avatar i.off {
  background-color: rgba(51, 51, 51, 0.15);
}
.avatar i.busy {
  background-color: #b44682;
}
.avatar i.away {
  background-color: #f0ad4e;
}
.avatar.thumb-md i {
  width: 12px;
  height: 12px;
  margin: 3px;
}
.avatar.thumb-sm i {
  margin: 1px;
}
.avatar.thumb-xs i {
  margin: 0;
}
.w-1x {
  width: 1em;
}
.w-2x {
  width: 2em;
}
.w-3x {
  width: 3em;
}
.w-xxs {
  width: 60px;
}
.w-xs {
  width: 90px;
}
.w-sm {
  width: 150px;
}
.w {
  width: 200px;
}
.w-md {
  width: 240px;
}
.w-lg {
  width: 280px;
}
.w-xl {
  width: 320px;
}
.w-xxl {
  width: 360px;
}
.w-full {
  width: 100%;
}
.w-auto {
  width: auto;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.thumb-xl {
  width: 128px;
  display: inline-block;
}
.thumb-lg {
  width: 96px;
  display: inline-block;
}
.thumb-md {
  width: 64px;
  display: inline-block;
}
.thumb {
  width: 50px;
  display: inline-block;
}
.thumb-sm {
  width: 40px;
  display: inline-block;
}
.thumb-xs {
  width: 34px;
  display: inline-block;
}
.thumb-xxs {
  width: 30px;
  display: inline-block;
}
.thumb-wrapper {
  padding: 2px;
  border: 1px solid #c1a7d2;
}
.thumb img,
.thumb-xs img,
.thumb-sm img,
.thumb-md img,
.thumb-lg img,
.thumb-btn img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.img-full {
  width: 100%;
}
.img-full img {
  width: 100%;
}
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scrollable.hover {
  overflow-y: hidden !important;
}
.scrollable.hover:hover {
  overflow: visible !important;
  overflow-y: auto !important;
}
.smart .scrollable {
  overflow-y: auto !important;
}
.scroll-x,
.scroll-y {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.scroll-y {
  overflow-y: auto;
}
.scroll-x {
  overflow-x: auto;
}
.hover-action {
  display: none;
}
/*
.hover-rotate{
  .transition(all .2s ease-in-out .1s)
}

.hover-anchor:hover,
.hover-anchor:focus,
.hover-anchor:active{
  > .hover-action{
    display: inherit;
  }
  > .hover-rotate{
    .rotate(90deg)
  }
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  &.fade{
    opacity: 0;
    filter: alpha(opacity=0);
  }
  &.in{
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
}

@media screen and (min-width: 992px) {
  .col-lg-2-4{width: 20.000%;float: left;}
}

// sm
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm.show{display: inherit !important;}
  .no-m-sm{margin:0 !important;}
}


@media (max-width: 767px) {
  .w-auto-xs{width: auto;}
  .shift{display: none !important;}
  .shift.in{display: block !important;}
  .row-2 [class*="col"]{width: 50%;float: left}
  .row-2 .col-0{clear: none}
  .row-2 li:nth-child(odd) { clear: left;margin-left: 0}
  .text-center-xs{text-align: center;}
  .text-left-xs{text-align: left;}
  .text-right-xs{text-align: right;}
  .no-border-xs{border-width: 0;}
  .pull-none-xs{float: none !important;}
  .pull-right-xs{float: right !important;}
  .pull-left-xs{float: left !important;}
  .dropdown-menu.pull-none-xs{left: 0;}
  .hidden-xs.show{display: inherit !important;}
  .wrapper-lg, .wrapper-md{padding: 15px;}
  .padder-lg, .padder-md{padding-left: 15px;padding-right: 15px;}
  .no-m-xs{margin:0 !important;}
}
*/
