.db-model {
    padding:1em;
}
.db-model.faded {
    opacity:.5;
}
.db-model .edit-toolbar {
    margin-top:2em !important;
}
.table-responsive {
    padding:0 !important;
}
.btn-group-lg {
    margin-bottom:.8em;
}
.db-edit-btns {
    padding:0 !important;
}
.db-table {
    margin-top:1.5em;
    margin-bottom:1.5em;
}

.db-table > tbody {
    font-size:12px !important;
    cursor: pointer;
}
.db-table > tbody > tr > td {
    transition: border 200ms ease-out;
}
.db-table > tbody > tr> td:not(.actions):hover {
   background-color: #98FB98;
    opacity:.7;
}
.db-table > thead > tr >th {
    position:relative;
}
.db-table > thead > tr >th i {
    margin-left:1px;
    cursor: pointer;
}
/*Edit row table */
.edit-row {
    margin-top:2em;
}
.edit-row > tbody > tr > td {
    border:none !important;
}
.sidebar {
    background: #f6f6f6;
    font-size:1.3em;
}
.nav-sub {
    margin-top:1.1em;
    padding-left:1em !important;
    transition:all 300ms ease-out;
    list-style:none;
    background:white;
}
.nav-sub li a {
    text-decoration:none;
}
.nav-sub li {
    padding:.5em;
    font-size:1em;
}
.nav-sub li:hover {
    background-color:palegreen;
    cursor:pointer;
}
.sidebar {
    min-height:900px !important;
}
.table-responsive-force {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
}
.no-padder {
    padding:0;
}
.loading {
    position:absolute;
    top:50%;
    left:50%;
}
.error {
    clear:both;
    padding:1em 0 0 1em;
}
